/* PROJECTS */
.project {
    margin-top: 16px;
    margin-bottom: 48px;
}
.project__title {
    font-weight: bold;
    font-size: 1.1em;
}
.project-small__title {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 19px;
}
.tech {
    background: #04974A;
    background: #57667B;
    color: white;
    border-radius: 17px;
    font-size: 12px;
    padding: 2px 8px;
    font-weight: bold;
    margin-right: 4px;
}
.project__img {
    box-sizing: border-box;
    padding-right: 32px;
    padding-left: 32px;
}
.project-small {
    margin-bottom: 20px;
}

.project-small__description {
    height: 48px;
    overflow:hidden;
    margin: 0;
    display: none;
}
.project-small__techs {
    margin-bottom: 12px;
    font-size: 15px;
}