
/*GLOBAL */
.hidden {
  display: none;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.bg-green {
  background: #04974A !important;
}
.section__description {
  margin: 8px 0 24px 0;
  opacity: 0.8;
}

button {
  background: none;
  border: none;
  transition: all 0.3s;
}
button > a:hover {
  text-decoration: none;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.heading {
  font-family: 'Yrsa', serif;
}
.heading--sub {
  font-size: 28px !important;
}
.heading--small {
  font-weight: 400 !important;
  font-size: 22px !important;
}
.icon-small {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}
.icon-smaller {
  width: 18px;
  height: 18px;
  margin-right: 6px;
}
.f-underline {
  text-decoration: underline;
}
.navbar__social-bg {
  background-color: #2757be;
  margin-bottom: 40px;
}
.navbar__social {
  color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
}

.navbar-social__email {
  font-size: 14px;
  margin-left: 8px;
  opacity: 0.9;
}
section {
  padding-top: 16px;
  padding-bottom: 16px;
}
.btn a {
  color: #ffffff;
}
.btn-left {
  margin-right: 12px;
}

/* ABOUT */
#about {
 padding-top: 64px;
}

.about__img-container {
  background-color: #2757be;
  background-color: #0A9849;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: unset;
  justify-content: center;
  margin-left: auto;
  height: 170px;
  width: 170px;
}
.about__img {
  height: 110%;
}
.about__name {
  font-weight: bold;
  font-size: 1.1em;
}

.about__text {
  margin-bottom: 20px;
}
/* CONTACT */
#contact {
  text-align: center;
  margin: 48px auto 32px auto;
}
.contact__email {
  font-size: 19px;
}

/* OVERRIDE BOOTSTRAPS NARROW CONTENT MEDIA QUERIES */
@media screen and (min-width: 1200px) {
  .container {
      max-width: 1350px !important;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px){
  .container {
      max-width: 960px !important;
  }
  .about__img-container {
      height: 150px;
      width: 150px;
  }
}
@media screen and (max-width: 992px) {
  .about__img-container {
    margin: auto auto 16px auto;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px){
  .container {
      max-width: 720px !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 576px){
  .container {
      max-width: 540px !important;
  }
}
@media screen and (max-width: 576px){
  .about {
    padding-top: 110px;
   }
}